#!/usr/bin/python
# -*- coding: utf-8 -*-

import os

DEBUG = True

# Ports & URLs
NODERED = "http://127.0.0.1:1880"												#wohin wird die nodered anfrage geschickt

# Pfade
INFPATH = os.path.dirname(os.path.realpath(__file__)) +"/info"					#da wo die info txt files liegen
JCERT = os.path.dirname(os.path.realpath(__file__)) +"/xmpp.pem"				#Jabber Certificate
CACPATH = os.path.dirname(os.path.realpath(__file__)) +"/cache"					#für tmp files und config files

# Jabber Daten
JUSER = "bot@jabber.space.bi"		#bot anmeldename
JNICK = "HSBot"				#Bot anzeigename
JPASS = ""		#bot Passwort
JROOM = "hsb@chat.jabber.space.bi"	#bot raum

#Telegram Daten
TOKEN = ""				#Telegram Bot Token
TFILE = os.path.dirname(os.path.realpath(__file__)) +"/cache/telegram-follower"	#eingetragene follower bei telegram

#MQTT Daten
MQTTSRV = "127.0.0.1"			#mqtt server
MQTTUSER = ""	#MQTT User
MQTTPASS = ""	#MQTT Passwort

MQTTTOPI = "hsbot/chat/privat"	#mqtt chat topic nur display
MQTTTOPJ = "hsbot/chat/public"	#mqtt chat auch an den Server
MQTTTOPT = "hsbot/toast"		#mqtt toast topic
MQTTTOPTOUT = "hsbot/toasted"			#mqtt toast ausgabe
MQTTDEBU = "debug/hsbot"		#mqtt debug topic
MQTTOUTP = "hsbot"				#allgemeiner output topic
MQTTSENSOR = "sensors"		#mqtt sensoren empfangen
MQTTTRIG = "trigger"			#mqtt topic für lüstige sachen zum triggern

SUPPORT = "electronicfreak"
